<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>averageTemparature</key>
		<integer>67</integer>
		<key>toSunDistance</key>
		<real>0.46</real>
		<key>imageName</key>
		<string>Mercury.png</string>
		<key>name</key>
		<string>Mercury</string>
	</dict>
	<dict>
		<key>averageTemparature</key>
		<integer>14</integer>
		<key>toSunDistance</key>
		<real>1.01</real>
		<key>imageName</key>
		<string>Earth.png</string>
		<key>name</key>
		<string>Earth</string>
	</dict>
	<dict>
		<key>averageTemparature</key>
		<integer>464</integer>
		<key>toSunDistance</key>
		<real>0.72</real>
		<key>imageName</key>
		<string>Venus.png</string>
		<key>name</key>
		<string>Venus</string>
	</dict>
	<dict>
		<key>averageTemparature</key>
		<integer>-63</integer>
		<key>toSunDistance</key>
		<real>2.49</real>
		<key>imageName</key>
		<string>Mars.png</string>
		<key>name</key>
		<string>Mars</string>
	</dict>
	<dict>
		<key>averageTemparature</key>
		<integer>-145</integer>
		<key>toSunDistance</key>
		<real>8.16</real>
		<key>imageName</key>
		<string>Jupiter.png</string>
		<key>name</key>
		<string>Jupiter</string>
	</dict>
	<dict>
		<key>averageTemparature</key>
		<integer>-178</integer>
		<key>toSunDistance</key>
		<real>10.12</real>
		<key>imageName</key>
		<string>Saturn.png</string>
		<key>name</key>
		<string>Saturn</string>
	</dict>
	<dict>
		<key>averageTemparature</key>
		<integer>-195</integer>
		<key>toSunDistance</key>
		<real>20.08</real>
		<key>imageName</key>
		<string>Uranus.png</string>
		<key>name</key>
		<string>Uranus</string>
	</dict>
	<dict>
		<key>averageTemparature</key>
		<integer>-200</integer>
		<key>toSunDistance</key>
		<real>30.44</real>
		<key>imageName</key>
		<string>Neptune.png</string>
		<key>name</key>
		<string>Neptune</string>
	</dict>
</array>
</plist>
